<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Nike</title>
</head>
<body>
        <div class="container">
            <div class="card">
                <div class="imgBx">
                    <img src="../assets/images/nike.png" alt="">
                </div>
                <div class="contentBx">
                    <h2>Nike Shoes</h2>
                    <div class="size">
                        <h3>Tamanho :</h2>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                        <span>10</span>
                    </div>
                    <div class="color">
                        <h3>Color :</h2>
                        <div class="size">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                </div>
                
                    <a href="#">Buy now</a>
                </div>
            </div>
            
        </div>
    
</body>
</html>